<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/styles.css" />

    <title>Mercado Liebre</title>
  </head>
  <body>
    <header class="header">
        <h1 class="header-img">
          <a href="/"><img src="/images/logo-mercado-liebre.svg" alt="Mercado Liebre" /></a>
        </h1>
        <form action="/" class="header-search">
          <input
            class="header-input"
            type="search"
            name="search"
            placeholder="Buscá productos por nombre, marcas o palabras clave"
          />
          <button type="submit" class="header-search-button">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </form>
        <p class="header-text">
          <i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin
          tarjeta de crédito
        </p>
      <nav class="navbar">
        <ul class="left-navbar">
          <li><a class="nav-link" href="#">Ofertas</a></li>
          <li><a class="nav-link" href="#">Tiendas Oficiales</a></li>
          <li><a class="nav-link" href="#">Vender</a></li>
          <li><a class="nav-link" href="#">Ayuda</a></li>
        </ul>
        <ul class="right-navbar">
          <li>
            <a class="nav-link" href="/register"
              >Crea tu cuenta <i class="fa-solid fa-address-card"></i
            ></a>
          </li>
          <li>
            <a class="nav-link" href="/login"
              >Ingresá <i class="fa-solid fa-right-to-bracket"></i
            ></a>
          </li>
          <li>
            <a class="nav-link" href="#"
              >Mis Compras <i class="fa-solid fa-basket-shopping"></i
            ></a>
          </li>
        </ul>
      </nav>
      <div class="burger-button">
        <i class="fa-solid fa-bars"></i>
      </div>
    </header>
    <img
      class="banner"
      src="/images/img-home-banner.jpg"
      alt="Promoción fiestas"
    />
    <main class="main">
      <section class="main-section">
        <h2 class="main-title">Basado en tu última visita</h2>
        <article
          class="main-article"
        >
          <img
            class="product-img"
            src="/images/img-cafetera-moulinex.jpg"
            alt="Cafetera Moulinex"
          />
          <div class="product-info">
            <i class="fa-solid fa-truck truck-icon"></i>
            <p class="product-price">$6.770</p>
            <p class="product-discount">40% OFF</p>
            <h3 class="product-name">Cafetera Moulinex</h3>
          </div>
        </article>
        <article
          class="main-article"
        >
          <img
            class="product-img"
            src="/images/img-macbook-pro-2019.jpg"
            alt="Macbook Pro 2019"
          />
          <div class="product-info">
            <i class="fa-solid fa-truck truck-icon"></i>
            <p class="product-price">$230.000</p>
            <p class="product-discount">20% off</p>
            <h3 class="product-name">MacBook Pro 2019</h3>
          </div>
        </article>
        <article
          class="main-article"
        >
          <img
            class="product-img"
            src="/images/img-samsung-galaxy-s10.jpg"
            alt="Samsung Galaxy S10"
          />
          <div class="product-info">
            <i class="fa-solid fa-truck truck-icon"></i>
            <p class="product-price">$70.500</p>
            <p class="product-discount">10% off</p>
            <h3 class="product-name">Samsung Galaxy S10</h3>
          </div>
        </article>
        <article
          class="main-article"
        >
          <img
            class="product-img"
            src="/images/img-tv-samsung-smart.jpg"
            alt="Samsung Galaxy S10"
          />
          <div class="product-info">
            <i class="fa-solid fa-truck truck-icon"></i>
            <p class="product-price">$23.200</p>
            <p class="product-discount">5% off</p>
            <h3 class="product-name">SmartTv Samsung 43"</h3>
          </div>
        </article>
      </section>
      <section class="main-section">
        <h2 class="main-title">Ofertas</h2>
        <article
          class="main-article"
        >
          <img
            class="product-img"
            src="/images/img-cafetera-moulinex.jpg"
            alt="Cafetera Moulinex"
          />
          <div class="product-info">
            <i class="fa-solid fa-truck truck-icon"></i>
            <p class="product-price">$6.770</p>
            <p class="product-discount">40% OFF</p>
            <h3 class="product-name">Cafetera Moulinex</h3>
          </div>
        </article>
        <article
          class="main-article"
        >
          <img
            class="product-img"
            src="/images/img-macbook-pro-2019.jpg"
            alt="Macbook Pro 2019"
          />
          <div class="product-info">
            <i class="fa-solid fa-truck truck-icon"></i>
            <p class="product-price">$230.000</p>
            <p class="product-discount">20% off</p>
            <h3 class="product-name">MacBook Pro 2019</h3>
          </div>
        </article>
        <article
          class="main-article"
        >
          <img
            class="product-img"
            src="/images/img-samsung-galaxy-s10.jpg"
            alt="Samsung Galaxy S10"
          />
          <div class="product-info">
            <i class="fa-solid fa-truck truck-icon"></i>
            <p class="product-price">$70.500</p>
            <p class="product-discount">10% off</p>
            <h3 class="product-name">Samsung Galaxy S10</h3>
          </div>
        </article>
        <article
          class="main-article"
        >
          <img
            class="product-img"
            src="/images/img-tv-samsung-smart.jpg"
            alt="Samsung Galaxy S10"
          />
          <div class="product-info">
            <i class="fa-solid fa-truck truck-icon"></i>
            <p class="product-price">$23.200</p>
            <p class="product-discount">5% off</p>
            <h3 class="product-name">SmartTv Samsung 43"</h3>
          </div>
        </article>
      </section>
    </main>
    <footer>
      <section class="footer-section">
        <div class="footer-div">
            <i class="fa-solid fa-credit-card footer-icon"></i>
            <h4 class="footer-title">Paga con tarjeta o en efectivo</h4>
            <p class="footer-text">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </div>
        <div class="footer-div">
            <i class="fa-solid fa-gift footer-icon"></i>
            <h4 class="footer-title">Envío gratis desde $2.500</h4>
            <p class="footer-text">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos</p>
        </div>
        <div class="footer-div">
            <i class="fa-solid fa-user-shield footer-icon"></i>
            <h4 class="footer-title">Seguridad, de principio a fin</h4>
            <p class="footer-text">¿No te gusta? ¡Devolvelo! En mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@</p>
        </div>
       </section>
        <div>
            <p class="footer-copyright ">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </div>
     
    </footer>
    
</body>
</html>